* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  align-items: center;
}

.container {
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  align-content: center;
}

.card {
  width: 360px;
  border-radius: 9px;
  padding: 30px;
  background-color: hsl(0, 0%, 12%);
}

img {
  width: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}

.address {
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin: 8px 0 25px 0;
}

p {
  font-weight: 300;

  color: hsl(0, 0%, 100%);
  margin-bottom: 20px;
}

button {
  font-weight: 700;
  border: none;
  border-radius: 6px;
  width: 100%;
  padding: 13px 0;
  margin-bottom: 13px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 20%);
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}
